.list-group {
    max-height: 100vh;
    overflow: auto;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #eee;
}

.list-group-item:focus {
    background-color: #ccc;
}

.card-body {
    max-height: 200px;
    overflow: auto;
}

iframe {
 width: 100% !important;
 height: 50vh !important;
}

.search-bar {
    margin: 20px 0 50px 0;
}